In [1]:
# Import dependencies
import matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import pandas as pd
import pdb

import pandas as pd
import datetime as dt 

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

# Import BeautifulSoup
from bs4 import BeautifulSoup as bs
import requests

import numpy as np

# Import Splinter and set the chromedriver path
from splinter import Browser
from selenium import webdriver

# Module used to connect Python with MongoDb
import pymongo

In [2]:
# Loading players data into df
players = "players.csv"
players_df = pd.read_csv(players)
players_df

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...,...
3917,3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [3]:
# Loading seasons data into df
season_stats = "Seasons_Stats.csv"
season_stats_df = pd.read_csv(season_stats)
season_stats_df

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [4]:
season_stats_df['Pos'].value_counts()

PF       4966
SG       4811
C        4759
SF       4699
PG       4648
G         139
F         123
F-C        81
G-F        79
F-G        60
C-F        35
C-PF       33
SF-SG      30
PG-SG      28
PF-C       27
SG-PG      27
SG-SF      26
PF-SF      25
SF-PF      21
SG-PF       3
C-SF        2
SF-PG       1
PG-SF       1
Name: Pos, dtype: int64

In [5]:
# Printing seasons stats df columns
print(season_stats_df.columns)

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [6]:
# Extracting only columns we need from season stats df and creating new df
new_season_stats_df = season_stats_df[['Year', 'Player', 'Pos', 'Age','G', 'GS', 'MP', 'PTS', 'PER','TS%', 'FTr', 'FG', 'FGA', 'AST', 'PF']].copy()
new_season_stats_df.rename(columns={'TS%':'TS'}, inplace=True)
new_season_stats_df.head()

,Year,Player,Pos,Age,G,GS,MP,PTS,PER,TS,FTr,FG,FGA,AST,PF
0,1950.0,Curly Armstrong,G-F,31.0,63.0,NaN,NaN,458.0,NaN,0.368,0.467,144.0,516.0,176.0,217.0
1,1950.0,Cliff Barker,SG,29.0,49.0,NaN,NaN,279.0,NaN,0.435,0.387,102.0,274.0,109.0,99.0
2,1950.0,Leo Barnhorst,SF,25.0,67.0,NaN,NaN,438.0,NaN,0.394,0.259,174.0,499.0,140.0,192.0
3,1950.0,Ed Bartels,F,24.0,15.0,NaN,NaN,63.0,NaN,0.312,0.395,22.0,86.0,20.0,29.0
4,1950.0,Ed Bartels,F,24.0,13.0,NaN,NaN,59.0,NaN,0.308,0.378,21.0,82.0,20.0,27.0

In [7]:
# Extracting only columns we need from season stats df and creating new df
new_players_df = players_df[['Player', 'height', 'weight']].copy()
new_players_df.head()

            Player  height  weight
0  Curly Armstrong   180.0    77.0
1     Cliff Barker   188.0    83.0
2    Leo Barnhorst   193.0    86.0
3       Ed Bartels   196.0    88.0
4      Ralph Beard   178.0    79.0

In [8]:
# Turn Player names into strings for both df
new_season_stats_df['Player'] = new_season_stats_df['Player'].astype(str)
new_season_stats_df['Year'].fillna(0, inplace=True)
new_season_stats_df['Year'] = new_season_stats_df['Year'].astype(int)
new_players_df['Player'] = new_players_df['Player'].astype(str)

In [9]:
# See type of variables in df's
new_season_stats_df.dtypes

Year        int32
Player     object
Pos        object
Age       float64
G         float64
GS        float64
MP        float64
PTS       float64
PER       float64
TS        float64
FTr       float64
FG        float64
FGA       float64
AST       float64
PF        float64
dtype: object

In [10]:
new_players_df.dtypes

Player     object
height    float64
weight    float64
dtype: object

In [11]:
# Joining new_players_df onto new_season_stats_df 
complete_data_df = new_season_stats_df.merge(new_players_df, on='Player', how='inner')

In [12]:
complete_data_df

,Year,Player,Pos,Age,G,GS,MP,PTS,PER,TS,FTr,FG,FGA,AST,PF,height,weight
0,1950,Curly Armstrong,G-F,31.0,63.0,NaN,NaN,458.0,NaN,0.368,0.467,144.0,516.0,176.0,217.0,180.0,77.0
1,1951,Curly Armstrong,G-F,32.0,38.0,NaN,NaN,202.0,NaN,0.372,0.388,72.0,232.0,77.0,97.0,180.0,77.0
2,1950,Cliff Barker,SG,29.0,49.0,NaN,NaN,279.0,NaN,0.435,0.387,102.0,274.0,109.0,99.0,188.0,83.0
3,1951,Cliff Barker,SG,30.0,56.0,NaN,NaN,152.0,NaN,0.322,0.381,51.0,202.0,115.0,98.0,188.0,83.0
4,1952,Cliff Barker,SG,31.0,44.0,NaN,494.0,126.0,10.8,0.343,0.317,48.0,161.0,70.0,56.0,188.0,83.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017,Troy Williams,SF,22.0,6.0,3.0,139.0,58.0,12.8,0.616,0.159,22.0,44.0,6.0,18.0,198.0,97.0
24687,2017,Kyle Wiltjer,PF,24.0,14.0,0.0,44.0,13.0,6.7,0.437,0.143,4.0,14.0,2.0,4.0,208.0,108.0
24688,2017,Stephen Zimmerman,C,20.0,19.0,0.0,108.0,23.0,7.3,0.346,0.161,10.0,31.0,4.0,17.0,213.0,108.0
24689,2017,Paul Zipser,SF,22.0,44.0,18.0,843.0,240.0,6.9,0.503,0.181,88.0,221.0,36.0,78.0,203.0,97.0
24690,2017,Ivica Zubac,C,19.0,38.0,11.0,609.0,284.0,17.0,0.547,0.206,126.0,238.0,30.0,66.0,216.0,120.0

In [13]:
# Counting the amount of rows in new df
complete_data_df.count()

Year      24691
Player    24691
Pos       24624
Age       24616
G         24624
GS        18233
MP        24138
PTS       24624
PER       24101
TS        24538
FTr       24525
FG        24624
FGA       24624
AST       24624
PF        24624
height    24624
weight    24624
dtype: int64

In [14]:
# Delete * at the end of the Player's name
complete_data_df['Player'] = complete_data_df['Player'].apply(lambda x: x.replace('*',''))
complete_data_df

,Year,Player,Pos,Age,G,GS,MP,PTS,PER,TS,FTr,FG,FGA,AST,PF,height,weight
0,1950,Curly Armstrong,G-F,31.0,63.0,NaN,NaN,458.0,NaN,0.368,0.467,144.0,516.0,176.0,217.0,180.0,77.0
1,1951,Curly Armstrong,G-F,32.0,38.0,NaN,NaN,202.0,NaN,0.372,0.388,72.0,232.0,77.0,97.0,180.0,77.0
2,1950,Cliff Barker,SG,29.0,49.0,NaN,NaN,279.0,NaN,0.435,0.387,102.0,274.0,109.0,99.0,188.0,83.0
3,1951,Cliff Barker,SG,30.0,56.0,NaN,NaN,152.0,NaN,0.322,0.381,51.0,202.0,115.0,98.0,188.0,83.0
4,1952,Cliff Barker,SG,31.0,44.0,NaN,494.0,126.0,10.8,0.343,0.317,48.0,161.0,70.0,56.0,188.0,83.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017,Troy Williams,SF,22.0,6.0,3.0,139.0,58.0,12.8,0.616,0.159,22.0,44.0,6.0,18.0,198.0,97.0
24687,2017,Kyle Wiltjer,PF,24.0,14.0,0.0,44.0,13.0,6.7,0.437,0.143,4.0,14.0,2.0,4.0,208.0,108.0
24688,2017,Stephen Zimmerman,C,20.0,19.0,0.0,108.0,23.0,7.3,0.346,0.161,10.0,31.0,4.0,17.0,213.0,108.0
24689,2017,Paul Zipser,SF,22.0,44.0,18.0,843.0,240.0,6.9,0.503,0.181,88.0,221.0,36.0,78.0,203.0,97.0
24690,2017,Ivica Zubac,C,19.0,38.0,11.0,609.0,284.0,17.0,0.547,0.206,126.0,238.0,30.0,66.0,216.0,120.0

In [15]:
# Doing another count as a check
complete_data_df.count()

# Export csv
complete_data_df.to_csv('complete_data_ok.csv')

In [16]:
# MVP table 
mvp_players = "../Webcrapping/NBA_Webscrapping_ok.csv"
mvp_players_df = pd.read_csv(mvp_players)
mvp_players_df

    Year             Players ok
0   1956             Bob Pettit
1   1957              Bob Cousy
2   1958           Bill Russell
3   1959             Bob Pettit
4   1960       Wilt Chamberlain
..   ...                    ...
59  2015          Stephen Curry
60  2016          Stephen Curry
61  2017      Russell Westbrook
62  2018           James Harden
63  2019  Giannis Antetokounmpo

[64 rows x 2 columns]

In [17]:
# Do left join on complete data df
df_with_mvp = complete_data_df.merge(mvp_players_df, how="left", left_on=['Year', 'Player'], right_on = ['Year', 'Players ok'])
df_with_mvp.head()

,Year,Player,Pos,Age,G,GS,MP,PTS,PER,TS,FTr,FG,FGA,AST,PF,height,weight,Players ok
0,1950,Curly Armstrong,G-F,31.0,63.0,NaN,NaN,458.0,NaN,0.368,0.467,144.0,516.0,176.0,217.0,180.0,77.0,NaN
1,1951,Curly Armstrong,G-F,32.0,38.0,NaN,NaN,202.0,NaN,0.372,0.388,72.0,232.0,77.0,97.0,180.0,77.0,NaN
2,1950,Cliff Barker,SG,29.0,49.0,NaN,NaN,279.0,NaN,0.435,0.387,102.0,274.0,109.0,99.0,188.0,83.0,NaN
3,1951,Cliff Barker,SG,30.0,56.0,NaN,NaN,152.0,NaN,0.322,0.381,51.0,202.0,115.0,98.0,188.0,83.0,NaN
4,1952,Cliff Barker,SG,31.0,44.0,NaN,494.0,126.0,10.8,0.343,0.317,48.0,161.0,70.0,56.0,188.0,83.0,NaN

In [18]:
# Use lambda function to replace Player's ok column NaN value with 0 and replace MVP winner with 1
df_with_mvp['Players ok'] = df_with_mvp['Players ok'].apply(lambda x: 1 if type(x) == str else 0)

In [19]:
df_with_mvp.head()

,Year,Player,Pos,Age,G,GS,MP,PTS,PER,TS,FTr,FG,FGA,AST,PF,height,weight,Players ok
0,1950,Curly Armstrong,G-F,31.0,63.0,NaN,NaN,458.0,NaN,0.368,0.467,144.0,516.0,176.0,217.0,180.0,77.0,0
1,1951,Curly Armstrong,G-F,32.0,38.0,NaN,NaN,202.0,NaN,0.372,0.388,72.0,232.0,77.0,97.0,180.0,77.0,0
2,1950,Cliff Barker,SG,29.0,49.0,NaN,NaN,279.0,NaN,0.435,0.387,102.0,274.0,109.0,99.0,188.0,83.0,0
3,1951,Cliff Barker,SG,30.0,56.0,NaN,NaN,152.0,NaN,0.322,0.381,51.0,202.0,115.0,98.0,188.0,83.0,0
4,1952,Cliff Barker,SG,31.0,44.0,NaN,494.0,126.0,10.8,0.343,0.317,48.0,161.0,70.0,56.0,188.0,83.0,0

In [20]:
# Check if MVP title is assigned to the players
df_with_mvp_true = df_with_mvp[df_with_mvp['Players ok'] ==1]
df_with_mvp_true

,Year,Player,Pos,Age,G,GS,MP,PTS,PER,TS,FTr,FG,FGA,AST,PF,height,weight,Players ok
890,1957,Bob Cousy,PG,28.0,64.0,NaN,2364.0,1319.0,21.0,0.452,0.350,478.0,1264.0,478.0,134.0,185.0,79.0,1
1340,1956,Bob Pettit,C,23.0,72.0,NaN,2794.0,1849.0,27.3,0.502,0.502,646.0,1507.0,189.0,202.0,206.0,92.0,1
1343,1959,Bob Pettit,PF,26.0,72.0,NaN,2873.0,2105.0,28.2,0.519,0.536,719.0,1640.0,221.0,200.0,206.0,92.0,1
1667,1958,Bill Russell,C,23.0,69.0,NaN,2640.0,1142.0,22.8,0.465,0.429,456.0,1032.0,202.0,181.0,208.0,97.0,1
1670,1961,Bill Russell,C,26.0,78.0,NaN,3458.0,1322.0,18.1,0.454,0.375,532.0,1250.0,268.0,155.0,208.0,97.0,1
1671,1962,Bill Russell,C,27.0,76.0,NaN,3433.0,1436.0,19.4,0.489,0.382,575.0,1258.0,341.0,207.0,208.0,97.0,1
1672,1963,Bill Russell,C,28.0,78.0,NaN,3500.0,1309.0,18.2,0.464,0.437,511.0,1182.0,348.0,189.0,208.0,97.0,1
1674,1965,Bill Russell,C,30.0,78.0,NaN,3466.0,1102.0,19.5,0.472,0.435,429.0,980.0,410.0,204.0,208.0,97.0,1
1968,1960,Wilt Chamberlain,C,23.0,72.0,NaN,3338.0,2707.0,28.0,0.493,0.429,1065.0,2311.0,168.0,150.0,216.0,124.0,1
1976,1966,Wilt Chamberlain,C,29.0,79.0,NaN,3737.0,2649.0,28.3,0.547,0.490,1074.0,1990.0,414.0,171.0,216.0,124.0,1
1977,1967,Wilt Chamberlain,C,30.0,81.0,NaN,3682.0,1956.0,26.5,0.637,0.761,785.0,1150.0,630.0,143.0,216.0,124.0,1
1978,1968,Wilt Chamberlain,C,31.0,82.0,NaN,3836.0,1992.0,24.7,0.557,0.677,819.0,1377.0,702.0,160.0,216.0,124.0,1
2162,1964,Oscar Robertson,PG,25.0,79.0,NaN,3559.0,2480.0,27.6,0.576,0.539,840.0,1740.0,868.0,280.0,196.0,92.0,1
2879,1970,Willis Reed,C,27.0,81.0,NaN,3089.0,1755.0,20.3,0.552,0.335,702.0,1385.0,161.0,287.0,206.0,106.0,1
3818,1969,Wes Unseld,C,22.0,82.0,NaN,2970.0,1131.0,18.1,0.515,0.511,427.0,897.0,213.0,276.0,201.0,111.0,1
4133,1973,Dave Cowens,C,24.0,82.0,NaN,3425.0,1684.0,18.1,0.481,0.160,740.0,1637.0,333.0,311.0,206.0,104.0,1
4813,1975,Bob McAdoo,C,23.0,82.0,NaN,3539.0,2831.0,25.8,0.569,0.372,1095.0,2138.0,179.0,278.0,206.0,95.0,1
5366,1978,Bill Walton,C,25.0,58.0,NaN,1929.0,1097.0,24.8,0.554,0.279,460.0,882.0,291.0,145.0,211.0,95.0,1
5936,1981,Julius Erving,SF,30.0,82.0,NaN,2874.0,2014.0,25.1,0.572,0.352,794.0,1524.0,364.0,233.0,201.0,95.0,1
6205,1979,Moses Malone,C,23.0,82.0,NaN,3390.0,2031.0,23.7,0.604,0.612,716.0,1325.0,147.0,223.0,208.0,97.0,1
6208,1982,Moses Malone,C,26.0,81.0,81.0,3398.0,2520.0,26.8,0.576,0.454,945.0,1822.0,142.0,208.0,208.0,97.0,1
6209,1983,Moses Malone,C,27.0,78.0,78.0,2922.0,1908.0,25.1,0.578,0.604,654.0,1305.0,101.0,206.0,208.0,97.0,1
7306,1984,Larry Bird,PF,27.0,79.0,77.0,3028.0,1908.0,24.2,0.552,0.273,758.0,1542.0,520.0,197.0,206.0,99.0,1
7307,1985,Larry Bird,SF,28.0,80.0,77.0,3161.0,2295.0,26.5,0.585,0.260,918.0,1760.0,531.0,208.0,206.0,99.0,1
7308,1986,Larry Bird,SF,29.0,82.0,81.0,3113.0,2115.0,25.6,0.580,0.306,796.0,1606.0,557.0,182.0,206.0,99.0,1
7482,1987,Magic Johnson,PG,27.0,80.0,80.0,2904.0,1909.0,27.0,0.602,0.482,683.0,1308.0,977.0,168.0,201.0,98.0,1
7484,1989,Magic Johnson,PG,29.0,77.0,77.0,2886.0,1730.0,26.9,0.625,0.495,579.0,1137.0,988.0,172.0,201.0,98.0,1
7485,1990,Magic Johnson,PG,30.0,79.0,79.0,2937.0,1765.0,26.6,0.622,0.560,546.0,1138.0,907.0,167.0,201.0,98.0,1
9490,1993,Charles Barkley,PF,29.0,76.0,76.0,2859.0,1944.0,25.9,0.596,0.423,716.0,1376.0,385.0,196.0,198.0,114.0,1
9673,1988,Michael Jordan,SG,24.0,82.0,82.0,3311.0,2868.0,31.7,0.603,0.430,1069.0,1998.0,485.0,270.0,198.0,88.0,1
9676,1991,Michael Jordan,SG,27.0,82.0,82.0,3034.0,2580.0,31.6,0.605,0.365,990.0,1837.0,453.0,229.0,198.0,88.0,1
9677,1992,Michael Jordan,SG,28.0,80.0,80.0,3102.0,2404.0,27.7,0.579,0.325,943.0,1818.0,489.0,201.0,198.0,88.0,1
9680,1996,Michael Jordan,SG,32.0,82.0,82.0,3090.0,2491.0,29.4,0.582,0.355,916.0,1850.0,352.0,195.0,198.0,88.0,1
9682,1998,Michael Jordan,SG,34.0,82.0,82.0,3181.0,2357.0,25.2,0.533,0.381,881.0,1893.0,283.0,151.0,198.0,88.0,1
9725,1994,Hakeem Olajuwon,C,31.0,80.0,80.0,3277.0,2184.0,25.3,0.565,0.320,894.0,1694.0,287.0,289.0,213.0,115.0,1
10137,1997,Karl Malone,PF,33.0,82.0,82.0,2998.0,2249.0,28.9,0.600,0.439,864.0,1571.0,368.0,217.0,206.0,113.0,1
10139,1999,Karl Malone,PF,35.0,49.0,49.0,1832.0,1164.0,25.6,0.577,0.602,393.0,797.0,201.0,134.0,206.0,113.0,1
12350,1995,David Robinson,C,29.0,81.0,81.0,3074.0,2238.0,29.1,0.602,0.570,788.0,1487.0,236.0,230.0,216.0,106.0,1
15191,2004,Kevin Garnett,PF,27.0,82.0,82.0,3231.0,1987.0,29.4,0.547,0.289,804.0,1611.0,409.0,202.0,211.0,108.0,1
15664,2008,Kobe Bryant,SG,29.0,82.0,82.0,3192.0,2323.0,24.2,0.576,0.439,775.0,1690.0,441.0,227.0,198.0,96.0,1
15838,2001,Allen Iverson,SG,25.0,71.0,71.0,2979.0,2207.0,24.0,0.518,0.397,762.0,1813.0,325.0,147.0,183.0,74.0,1
15948,2005,Steve Nash,PG,30.0,75.0,75.0,2573.0,1165.0,22.0,0.606,0.278,430.0,857.0,861.0,136.0,190.0,88.0,1
15949,2006,Steve Nash,PG,31.0,79.0,79.0,2796.0,1489.0,23.3,0.632,0.264,541.0,1056.0,826.0,120.0,190.0,88.0,1
16306,2002,Tim Duncan,PF,25.0,82.0,82.0,3329.0,2089.0,27.0,0.576,0.466,764.0,1504.0,307.0,217.0,211.0,113.0,1
16307,2003,Tim Duncan,PF,26.0,81.0,81.0,3181.0,1884.0,26.9,0.564,0.455,714.0,1392.0,316.0,231.0,211.0,113.0,1
17075,2007,Dirk Nowitzki,PF,28.0,78.0,78.0,2820.0,1916.0,27.6,0.605,0.411,673.0,1341.0,263.0,171.0,213.0,111.0,1
19676,2009,LeBron James,SF,24.0,81.0,81.0,3054.0,2304.0,31.7,0.591,0.472,789.0,1613.0,587.0,139.0,203.0,113.0,1
19677,2010,LeBron James,SF,25.0,76.0,76.0,2966.0,2258.0,31.1,0.604,0.506,768.0,1528.0,651.0,119.0,203.0,113.0,1
19679,2012,LeBron James,SF,27.0,62.0,62.0,2326.0,1683.0,30.7,0.605,0.429,621.0,1169.0,387.0,96.0,203.0,113.0,1
19680,2013,LeBron James,PF,28.0,76.0,76.0,2877.0,2036.0,31.6,0.640,0.395,765.0,1354.0,551.0,110.0,203.0,113.0,1
21671,2014,Kevin Durant,SF,25.0,81.0,81.0,3122.0,2593.0,29.8,0.635,0.477,849.0,1688.0,445.0,174.0,206.0,108.0,1
22336,2011,Derrick Rose,PG,22.0,81.0,81.0,3026.0,2026.0,23.5,0.550,0.348,711.0,1597.0,623.0,136.0,190.0,86.0,1
22416,2017,Russell Westbrook,PG,28.0,81.0,81.0,2802.0,2558.0,30.6,0.554,0.433,824.0,1941.0,840.0,190.0,190.0,90.0,1
22525,2015,Stephen Curry,PG,26.0,80.0,80.0,2613.0,1900.0,28.0,0.638,0.251,653.0,1341.0,619.0,158.0,190.0,86.0,1
22526,2016,Stephen Curry,PG,27.0,79.0,79.0,2700.0,2375.0,31.5,0.669,0.250,805.0,1598.0,527.0,161.0,190.0,86.0,1

In [21]:
df_with_mvp_true.count()

Year          55
Player        55
Pos           55
Age           55
G             55
GS            35
MP            55
PTS           55
PER           55
TS            55
FTr           55
FG            55
FGA           55
AST           55
PF            55
height        55
weight        55
Players ok    55
dtype: int64

In [22]:
df_with_mvp.to_csv('complete_data_ok.csv')

In [25]:
df_with_mvp_true.to_csv('../Plots_Javascript/mvp_winners.csv')